body{
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: rgb(187, 175, 175);
  color: hsl(0, 0%, 10%);
}
#page-container{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 580px;
  margin-left: -45%;
  margin-top: -290px;
  color: hsl(0, 0%, 20%);
}
header{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}
header h1{
  font-size: 5em;
  padding-bottom: 15px;
}
#reset-button{
  border-radius: 15px;
  border:inherit;
  width: 100px;
  height: 25px;
}
#reset-button:hover{
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 70%);
  cursor: pointer;
  animation-name: make-bigger;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes make-bigger{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.4);
  }
}
main{
  height: 75%;
}
#sketchpad{
  display:grid;
  background-color: rgb(223, 223, 223);
  border: 2px solid hsl(0, 0%, 30%);
  width: 50%;
  height: 100%;
  margin-right:auto;
  margin-left:auto;
}
.box{
  border: 1px solid black;
}
.box:hover{
  background-color: black;
}